<form name="containerForm" class="mt-4" method="POST" action="/courses/handle-form-actions">
  <div>
    <h2 class="text-center">My Courses</h2>
    <a href="/me/trash/courses"><img src="https://cdn-icons-png.flaticon.com/512/3300/3300013.png" alt="" srcset=""
        style="width: 40px;"></a>

    <div class="mt-4 d-flex align-item-center">
      <div class="custom-control custom-checkbox">
        <input type="checkbox" class="custom-control-input" id="checkbox-all">
        <label class="custom-control-label" for="checkbox-all">Select All</label>
      </div>
      <select class="form-control form-control-sm w-25 ml-2" name="action" required>
        <option value="">Option</option>
        <option value="delete">Delete</option>
        <option value="2">Two</option>
        <option value="3">Three</option>
      </select>
      <button class="btn btn-primary btn-sm ml-2 disabled apply">Apply</button>
    </div>
  </div>

  <table class="table mt-4">
    <thead class="thead-dark">
      <tr>
        <th scope="col"></th>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">level</th>
        <th scope="col">createdAt</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      {{#each courses}}
      <tr>
        <th>
          <div class="form-check">
            <input type="checkbox" class="form-check-input" value="{{this._id}}" name="courseIds[]">
          </div>
        </th>
        <th scope="row">{{sum @index 1}}</th>
        <td>{{this.name}}</td>
        <td><img src="{{this.image}}" alt="" width="50px" height="50px" /></td>
        <td>{{this.level}}</td>
        <td>{{this.createdAt}}</td>
        <td>
          <a href="/courses/{{this._id}}/edit" class="btn btn-primary">Edit</a>
          <a href="/courses/{{this._id}}/delete" class="btn btn-danger" data-toggle="modal"
            data-target="#delete-course-modal" data-id="{{this._id}}">Delete</a>
        </td>
      </tr>

      {{else}}
      <tr>
        <td colspan="6" class="text-center">No course found.
          <a href="/courses/create" class="font-weight-bolder">Create new course</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</form>

{{! confirm delete course }}

<div id="delete-course-modal" class="modal" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">DELETE Course ?</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p>Are you sure want to delete this course?</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-danger" id="delete-course-btn">Delete</button>
      </div>
    </div>
  </div>
</div>

{{!-- delete form hidden --}}
<form method="POST" name="delete-course-form"></form>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var courseId;
    var deleteForm = document.forms['delete-course-form'];
    //var containerForm = document.forms['containerForm'];
    var containerForm = $('form[name="containerForm"]')
    const deleteCourse_btn = document.getElementById('delete-course-btn');
    const checkbox_all = $('#checkbox-all')
    const btnApply = $('.apply')
    var courseItemCheckbox = $("input[name='courseIds[]']")

    $('#delete-course-modal').on('show.bs.modal', function (event) {
      var button =
        $(event.relatedTarget); courseId = button.data('id');
    })

    deleteCourse_btn.addEventListener('click', function () {
      deleteForm.action = '/courses/' + courseId + '?_method=DELETE';
      deleteForm.submit();
    })

    checkbox_all.change(function () {
      var isCheckedAll = $(this).prop('checked');
      courseItemCheckbox.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    // course item checkbox change
    courseItemCheckbox.change(function () {
      var isCheckedAll = courseItemCheckbox.length === $("input[name='courseIds[]']:checked").length;
      checkbox_all.prop('checked', isCheckedAll);
      renderCheckAllSubmitBtn();
    })

    containerForm.on('submit', function (e) {
      var isSubmitTable = btnApply.hasClass('disabled');
      if (isSubmitTable) {
        e.preventDefault();
      };
    })

    function renderCheckAllSubmitBtn() {
      var isChecked = $("input[name='courseIds[]']:checked").length > 0;
      if (isChecked) {
        btnApply.removeClass('disabled')
      } else {
        btnApply.addClass('disabled')
      }
    }
  })

</script>